<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout/admin/mainLayout">
      
      <head>
        <title>Home</title>
        <script th:src="@{'/assets/dist/js/home.js'}"></script>
    </head>
    <body>
    	<div layout:fragment="pageHeader">
        <section class="content-header">
        	<h1>
            	JCart Administration
            	<small>Manage JCart Site Content</small>
          	</h1>
        </section>
        </div>
    	<div layout:fragment="content">
	        <p>Welcome <span th:text="${authenticatedUser.user.userName}">User</span>!</p>
	        
	        <input type="radio" id="rdCurrentDay" th:name="rdYmd" value="Current Day" checked="checked"
	        	th:if="${dispatch == 'by_day'}" onclick="onClickRdCurrentDay()"/> 
	        <input type="radio" id="rdCurrentDay" th:name="rdYmd" value="Current Day"
	        	th:if="${dispatch == 'by_month'}" onclick="onClickRdCurrentDay()"/>
	        <label for="rdCurrentDay">Current Day</label>
	        	 
	        <input type="radio" id="rdCurrentMonth" th:name="rdYmd" value="Current Month" 
	        	th:if="${dispatch == 'by_day'}" onclick="onClickRdCurrentMonth()"/> 
        	<input type="radio" id="rdCurrentMonth" th:name="rdYmd" value="Current Month" checked="checked" 
	        	th:if="${dispatch == 'by_month'}" onclick="onClickRdCurrentMonth()"/>
	        <label for="rdCurrentMonth">Current Month</label>
	        
	        <h2>REVENUE : <span th:text="${#numbers.formatDecimal(revenue, 0, 'COMMA', 0, 'POINT')}"/></h2>
	        
	        <h2>PAYMENT : <span th:text="${#numbers.formatDecimal(payment, 0, 'COMMA', 0, 'POINT')}"/></h2>
	        
    	</div>
    	
    </body>
    
</html>