<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout/mainLayout">
      
      <head>
        <title>Product</title>
        <script th:src="@{'/assets/js/products.js'}"></script>
    </head>
    <body onload="onLoadProductDetail()">
	<div layout:fragment="content">
	    <!-- 
	    <div class="single-product-area">
	        <div class="zigzag-bottom"></div>
	        <div class="container">
	            <div class="row">
	                
	                <div class="col-md-offset-2 col-md-8">
	                    <div class="product-content-right">
	                        <div class="product-breadcroumb">
	                            <a href="" th:href="@{/}">Home</a>
	                            <a href="" th:href="@{/categories/{name}(name=${product.category.name})}"><span th:text="${product.category.name}">Category Name</span></a>
	                            <a href="" th:href="@{/products/{sku}(sku=${product.sku})}"><span th:text="${product.name}">ProductName</span></a>
	                        </div>
	                        
	                        <div class="row">
	                            <div class="col-sm-6">
	                                <div class="product-images">
	                                    <div class="product-main-img">
	                                        <img src="assets/img/product-2.jpg" alt="" th:src="@{'/products/images/{id}.jpg'(id=${product.id})}"/>
	                                    </div>
	                                                                        
	                                </div>
	                            </div>
	                            
	                            <div class="col-sm-6">
	                                <div class="product-inner">
	                                    <h2 class="product-name" th:text="${product.name}">ProductName</h2>
	                                    <div class="product-inner-price">
	                                        <ins th:text="${product.price}">$9.00</ins>
	                                    </div>    
	                                    
	                                    <div>
	                                        <button class="add_to_cart_button" type="submit" 
	                                        		th:onclick="'javascript:addItemToCart(\'' + ${product.sku} + '\');'">Add to cart</button>
	                                    </div>   
	                                    
	                                    <div class="product-inner-category">
	                                        <h2>Product Description</h2>  
	                                        <p th:text="${product.description}">
	                                        	Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
	                                        	Nam tristique, diam in consequat iaculis, est purus iaculis mauris, imperdiet facilisis 
	                                        	ante ligula at nulla. Quisque volutpat nulla risus, id maximus ex aliquet ut. 
	                                        	Suspendisse potenti. Nulla varius lectus id turpis dignissim porta. Quisque magna arcu, 
	                                        	blandit quis felis vehicula, feugiat gravida diam. Nullam nec turpis ligula. 
	                                        	Aliquam quis blandit elit, ac sodales nisl. Aliquam eget dolor eget elit malesuada aliquet. 
	                                        	In varius lorem lorem, semper bibendum lectus lobortis ac.<br/>
	                                        </p>
	                                    </div> 
	                                    
	                                </div>
	                            </div>
	                        </div>
	                        
	                    </div>                    
	                </div>
	            </div>
	        </div>
	    </div>
	 	-->
	 	<div class="row">
	 		 <div class="col-lg-3">
	          <h1 class="my-4">Shop Name</h1>
	          <input type="hidden" id="catSelectedId" th:value="${catSelectedId}"/>
	          <div class="list-group">
	            <a th:href="@{/products/categories/{catId}(catId=${cat.id})}"
	            	th:id="'cat'+ ${cat.id}"
	            	class="list-group-item" 
	            	th:each="cat : ${categories}" 
	            	th:text="${cat.name}">Category 1</a>
	            
	            <a th:href="@{/cart}" class="list-group-item">Cart <i class="fa fa-shopping-cart"></i> <span id="cart-item-count" class="product-count">(0)</span></a>
	          </div>
	        </div>
	        
		 	 <div class="col-lg-9">
	
	          <div class="card mt-4">
	            <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt=""/>
	            <div class="card-body">
	              <h3 class="card-title" th:text="${product.name}">Product Name</h3>
	              <h4 th:text="${#numbers.formatDecimal(product.price,0, 'COMMA', 2, 'POINT')}">$24.99</h4>
	              <p class="card-text" th:text="${product.description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta fugit fugiat hic aliquam itaque facere, soluta. Totam id dolores, sint aperiam sequi pariatur praesentium animi perspiciatis molestias iure, ducimus!</p>
	              <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
	              4.0 stars
	            </div>
	          </div>
	
	          <div class="card card-outline-secondary my-4">
	            <div class="card-header">
	              Product Reviews
	            </div>
	            <div class="card-body">
	              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
	              <small class="text-muted">Posted by Anonymous on 3/1/17</small>
	              <hr/>
	              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
	              <small class="text-muted">Posted by Anonymous on 3/1/17</small>
	              <hr/>
	              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
	              <small class="text-muted">Posted by Anonymous on 3/1/17</small>
	              <hr/>
	              <a href="#" class="btn btn-success">Leave a Review</a>
	            </div>
	          </div>
	
	        </div>
        </div>
	</div>
  </body>
</html>