<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout/mainLayout">
      
      <head>
        <title>Edit Inflow</title>
    </head>
    <body>
    	<div layout:fragment="pageHeader">
          	<section class="content-header">
	        	<h1>
	            	Edit Inflow
	          	</h1>
	        </section>
        </div>
        
    	<div layout:fragment="content">
	        
              <div class="box box-warning">
                <div class="box-header with-border">
                  <h3 class="box-title">Edit Inflow</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <form role="form" th:action="@{/wh/inflow/update/{id}(id=${inflow.id})}" th:object="${inflow}" method="post">
                  	<p th:if="${#fields.hasErrors('global')}" th:errors="*{global}" th:class="text-red">Incorrect data</p>
                  	
                    <div class="form-group" th:classappend="${#fields.hasErrors('product.id')}? 'has-error'">
						<label>Product</label>
						<div>
							<select class="form-control" th:field="*{product.id}">
							  <option th:each="product : ${productsList}" 
							          th:value="${product.id}" 
							          th:text="${product.name}"></option>
							</select>
					  	<p th:if="${#fields.hasErrors('product.id')}" th:errors="*{product.id}" th:class="text-red">Incorrect data</p>
						</div>
    				</div>
                    
                  	<div class="form-group" th:classappend="${#fields.hasErrors('amount')}? 'has-error'">
                      <label>Amount</label>
                      <input type="number" class="form-control" name="amount" th:field="*{amount}" placeholder="Enter Amount" onblur=""/>
                      <p th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" th:class="text-red">Incorrect data</p>
                    </div>
                    
                    <div class="form-group" th:classappend="${#fields.hasErrors('price')}? 'has-error'">
                      <label>Price</label>
                      <input type="number" class="form-control" name="amount" th:field="*{price}" placeholder="Enter Price"/>
                      <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" th:class="text-red">Incorrect data</p>
                    </div>
                    
                    <div class="form-group" th:classappend="${#fields.hasErrors('warehouse.id')}? 'has-error'">
						<label>Warehouse</label>
						<div>
							<select class="form-control" th:field="*{warehouse.id}">
							  <option th:each="warehouse : ${warehousesList}" 
							          th:value="${warehouse.id}" 
							          th:text="${warehouse.name}"></option>
							</select>
					  	<p th:if="${#fields.hasErrors('warehouse.id')}" th:errors="*{warehouse.id}" th:class="text-red">Incorrect data</p>
						</div>
    				</div>
    				
    				<div class="form-group" th:classappend="${#fields.hasErrors('shipper.id')}? 'has-error'">
						<label>Shipper</label>
						<div>
							<select class="form-control" th:field="*{shipper.id}">
							  <option th:each="shipper : ${shippers}" 
							          th:value="${shipper.id}" 
							          th:text="${shipper.fullName}"></option>
							</select>
					  	<p th:if="${#fields.hasErrors('shipper.id')}" th:errors="*{shipper.id}" th:class="text-red">Incorrect data</p>
						</div>
    				</div>
    				
					<div class="box-footer">
	                    <button type="submit" data-toggle="modal" data-target="#waitingModal" class="btn btn-primary">Submit</button>
	                </div>
                  </form>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
    	</div>
    	
    </body>
    
</html>