<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout/mainLayout">
    <head>
      <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet"></link>
      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <title>OutFlow List</title>
        <script type="text/javascript">
	        
	        function showDeleteModal(whOutflowId) {
	        	$('#whOutflowId').val(whOutflowId);
	        }
	        
	        function deleteWh() {
	        	var whOutflowId = $('#whOutflowId').val();
	        	var url = '/wh/outflow/delete/' + whOutflowId;
				window.location = url;
	        }
	        
	  	</script>
    </head>
    <body>
        
    	<div layout:fragment="content">
	        <div class="row">
	            <div class="col-md-12">
	              <div class="box">
	                <div class="box-header">
	                  <h3 class="box-title">List of OutFlow</h3>
	                  <div class="box-tools">
	                    <div class="input-group" style="width: 150px;">
	                    	
	                    </div>
	                  </div>
	                </div><!-- /.box-header -->
	                <div class="box-body table-responsive no-padding">
	                  <table class="table table-hover">
	                    <tr>
	                      <th style="width: 10px">No</th>
	                      <th>Product</th>
	                      <th>Amount x Price = Cost</th>
	                      <th>Date</th>
	                      <th>Status</th>
	                      <th>Customer</th>
	                      <th>Apply Person</th>
	                      <th>Approve Person</th>
	                      <th></th>
	                    </tr>
	                    <tr th:each="outflow,iterStat : ${outflows}">
	                      <td><a><span th:text="${iterStat.count}">1</span></a></td>
	                      <td th:text="${outflow.inflow.product.name}"></td>
	                      <td th:text="
	                      ${#numbers.formatDecimal(outflow.amount, 0, 'COMMA', 0, 'POINT')} + '  x  ' + 
	                      ${#numbers.formatDecimal(outflow.price, 0, 'COMMA', 2, 'POINT')} + '  =  ' +
	                      ${#numbers.formatDecimal(outflow.price * outflow.amount, 0, 'COMMA', 2, 'POINT')}" align="right"></td>
	                      
	                      <td th:text="${outflow.outflowdate}" align="center"></td>
	                      <td th:text="${outflow.statusName}" align="center"></td>
	                      <td th:text="${outflow.customer.firstName + ' ' + outflow.customer.lastName}"></td>
	                      <td th:text="${outflow.applyPerson.fullName}"></td>
	                      <td th:text="${outflow.approvePerson.fullName}"></td>
	                      
	                      <td th:if="${outflow.edit == true}">
	                      	  <a id="editLink" th:href="@{/wh/edit/outflow/{id}(id=${outflow.id})}" class="btn btn-sm btn-default"><i class="fa fa-edit"></i> Edit</a>
	                      	  <a class="btn btn-sm btn-default open-AddBookDialog" 
	                      	  	data-toggle="modal" 
	                      	  	data-target="#deleteModal"
	                      	  	th:onclick="'showDeleteModal(' + ${outflow.id} + ')'">
	                      	  	<i class="fa fa-trash"></i> Del
	                      	  </a>
	                      </td>
	                      
	                      <td th:if="${outflow.edit == false}">
	                      	<a id="editLink" 
	                      	  	th:href="@{/wh/view/outflow/{id}(id=${outflow.id})}" class="btn btn-sm btn-default">
	                      	  <i class="fa fa-search"></i> View </a>
	                      </td>
	                    </tr>
	                    
	                  </table>
	                </div><!-- /.box-body -->
	                
	              </div><!-- /.box -->
	              </div>
             </div>
             
             <div id="deleteModal" class="modal fade" role="dialog">
				  <div class="modal-dialog">
				
				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <h4 class="modal-title" th:text="#{label.confirm.title}"></h4>
				      </div>
				      <div class="modal-body">
				        <p th:text="#{label.confirm.delete.outflow}"></p>
				      </div>
			    	  <input type="hidden" id="whOutflowId"/>
				      <div class="modal-footer">
				     	<a type="button" class="btn btn-danger" 
				     		style="text-decoration: none;  color: #ffffff;" th:text="#{label.confirm.ok}"
		                   	onclick="deleteWh()">
		                </a>
				        <a type="button" class="btn btn-danger" data-dismiss="modal"
	                		style="color: #ffffff;" th:text="#{label.confirm.cancel}">
		                </a>
				      </div>
				    </div>
				
				  </div>
				</div>
    	</div>
    </body>
    
</html>