<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout/admin/mainLayout">
    <head>
      <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet"></link>
      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      <script th:src="@{'/assets/dist/js/warehouses.js'}"></script>
        <title>Stock List</title>
    </head>
    <body onload="loadBody()">
        
    	<div layout:fragment="content">
	        <div class="row">
            <div class="col-md-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">List of Stock</h3>
                  <div class="box-tools">
                    <div class="input-group" style="width: 150px;">
                    	
                    </div>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                    <tr>
                      <th style="width: 10px">No</th>
                      <th>Product</th>
                      <th>Amount</th>
                      <th>Price</th>
                      <th>Cost</th>
                      <th>Shipper</th>
                      <th>Warehouse</th>
                      <th>Date</th>
                      <th></th>
                    </tr>
                    <tr th:each="inflow,iterStat : ${inflows}">
                      <td><a><span th:text="${iterStat.count}">1</span></a></td>
                      <td th:text="${inflow.product.name}"></td>
                      <td th:text="${#numbers.formatDecimal(inflow.left, 0, 'COMMA', 0, 'POINT')}" align="right"></td> <!-- ${inflow.product.units} -->
                      <td th:text="${#numbers.formatDecimal(inflow.price, 0, 'COMMA', 2, 'POINT')}" align="right"></td>
                      <td th:text="${#numbers.formatDecimal(inflow.price * inflow.amount, 0, 'COMMA', 2, 'POINT')}" align="right"></td>
                      
                      <td th:text="${inflow.shipper.fullName}"></td>
                      
                      <td th:text="${inflow.warehouse.name}"></td>
                      
                      <!-- 
                      <td th:text="${inflow.inflowdate}"></td>
                       -->
                       <td></td>
                       
                      <td>
                      	  <a id="editLink" th:href="@{/wh/buy/{id}(id=${inflow.id})}" class="btn btn-sm btn-default"><i class="fa fa-edit"></i> Buy</a>
                      </td>
                    </tr>
                    
                  </table>
                </div><!-- /.box-body -->
                
              </div><!-- /.box -->
              </div>
              </div>
    	</div>
    </body>
    
</html>