<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout/mainLayout">
      
      <head>
        <title>Stock Buy</title>
    </head>
    <body>
    	<div layout:fragment="pageHeader">
          	<section class="content-header">
	        	<h1>
	            	Stock Buy
	          	</h1>
	        </section>
        </div>
        
    	<div layout:fragment="content">
	        
              <div class="box box-warning">
                <div class="box-header with-border">
                  <h3 class="box-title">Stock Buy The Product <span th:text="${product_name}"/> </h3>
                </div><!-- /.box-header -->
                
                <div class="box-body">
                  <form role="form" th:action="@{/wh/outflow/update/{id}(id=${outflow.id})}" th:object="${outflow}" method="post">
                  	<p th:if="${#fields.hasErrors('global')}" th:errors="*{global}" th:class="text-red">Incorrect data</p>
                  	
                    <div class="form-group" th:classappend="${#fields.hasErrors('customerId')}? 'has-error'">
						<label>Customers</label>
						<div>
							<select class="form-control" th:field="*{customerId}">
							  <option th:each="customer : ${customers}" 
							          th:value="${customer.id}" 
							          th:text="${customer.firstName}"></option>
							</select>
					  	<p th:if="${#fields.hasErrors('customerId')}" th:errors="*{customerId}" th:class="text-red">Incorrect data</p>
						</div>
    				</div>
                    
                    <div class="form-group" th:classappend="${#fields.hasErrors('amount')}? 'has-error'">
                      <label>Amount</label>
                      <input type="number" class="form-control" name="amount" th:field="*{amount}" placeholder="Enter Amount" onblur=""/>
                      <p th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" th:class="text-red">Incorrect data</p>
                    </div>
                    
                    <div class="form-group" th:classappend="${#fields.hasErrors('price')}? 'has-error'">
                      <label>Price</label>
                      <input type="number" class="form-control" name="price" th:field="*{price}" placeholder="Enter Price" onblur=""/>
                      <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" th:class="text-red">Incorrect data</p>
                    </div>
                    
                    <div class="form-group" th:classappend="${#fields.hasErrors('outflowdate')}? 'has-error'">
						<label>OutFlow Date</label>
						<div>
							<input type="date" class="form-control" name="outflowdate" th:field="*{outflowdate}" placeholder="Enter OutFlow Date" />
					  	<p th:if="${#fields.hasErrors('outflowdate')}" th:errors="*{outflowdate}" th:class="text-red">Incorrect data</p>
						</div>
    				</div>
    				
                    <input type="hidden" th:field="*{inflowId}"/>
                    
					<div class="box-footer">
	                    <button type="submit" data-toggle="modal" data-target="#waitingModal" class="btn btn-primary">Submit</button>
	                </div>
                  </form>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
    	</div>
    	
    </body>
    
</html>