<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout/admin/mainLayout">
      
      <head>
        <title>Users - Edit</title>
        <script th:src="@{'/assets/dist/js/users.js'}"></script>
    </head>
    <body>
        
    	<div layout:fragment="content">
	        
              <div class="box box-warning">
                <div class="box-header with-border">
                  <h3 class="box-title">Edit User</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <form id="frmUser" role="form" th:action="@{/users/{id}(id=${user.id})}" 
                  	th:object="${user}" method="post" enctype="multipart/form-data">
                  	<p th:if="${#fields.hasErrors('global')}" th:errors="*{global}" th:class="text-red">Incorrect data</p>
                    <!-- text input -->
                    <div class="form-group">
                      <label>Name</label>
                      <input type="text" class="form-control" name="userName" th:field="*{userName}" readonly="readonly"/>
                    </div>
                    
                     <!-- Full Name -->
                    <div class="form-group" th:classappend="${#fields.hasErrors('fullName')}? 'has-error'">
                      <label>Full Name</label>
                      <input type="text" class="form-control" name="fullName" th:field="*{fullName}" placeholder="Enter User Full Name"/>
                      <p th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" th:class="text-red">Incorrect data</p>
                    </div>
                    
                    <div class="form-group">
                      <label>Email</label>
                      <input type="text" class="form-control" name="email" th:field="*{email}" readonly="readonly"/>
                    </div>
                    
                    <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
                      <label>Password</label>
                      <input type="password" class="form-control" name="password" th:field="*{password}"  placeholder="Enter password"/>
                      <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:class="text-red">Incorrect data</p>
                    </div>
                    
                     <!-- phone No -->
                    <div class="form-group" th:classappend="${#fields.hasErrors('phoneNo')}? 'has-error'">
                      <label>Phone Number</label>
                      <input type="text" class="form-control" name="phoneNo" th:field="*{phoneNo}"  placeholder="Enter Phone Number"/>
                      <p th:if="${#fields.hasErrors('phoneNo')}" th:errors="*{phoneNo}" th:class="text-red">Incorrect data</p>
                    </div>
                    
                    <div class="form-group" th:classappend="${#fields.hasErrors('shipper')}? 'has-error'">
                      <label for="idxShipper">Is Shipper</label>
                      <input type="checkbox" name="shipper" id="idxShipper" th:field="*{shipper}"/>
                      <p th:if="${#fields.hasErrors('shipper')}" th:errors="*{shipper}" th:class="text-red">Incorrect data</p>
                    </div>
                    
                    <!-- Image URL -->
                    <div class="form-group" th:classappend="${#fields.hasErrors('image')}? 'has-error'">
                      <label for="image">Image</label>
                      <input type="file" class="form-control" name="image" th:field="*{image}"/>
                      <p th:if="${#fields.hasErrors('image')}" th:errors="*{image}" th:class="text-red">Incorrect data</p>
                      <p class="help-block">Select JPG Image</p>
                      <p>
                      	<img alt="" src="image.jpg" th:src="@{'/users/images/{imageUrl}.jpg'(imageUrl=${user.id})}" height="200" width="250"/>
                      </p>
                    </div>
                    					
					<div class="form-group">
						<label>Roles</label>
						<div>
						  <p th:each="role,rowStat : ${rolesList}">
						    <input type="checkbox" 
						    	th:field="*{roles[__${rowStat.index}__].id}" 
						    	th:value="${role.id}" 
						    	th:id="''+ ${role.id}"/>
						    <label th:text="${role.name}" th:for="''+ ${role.id}">Role</label>
						  </p>
						</div>
						
    				</div>
    				
					<div class="box-footer">
	                    <button type="submit" data-toggle="modal" data-target="#waitingModal" class="btn btn-primary">Submit</button>
	                    <a class="btn btn-primary" onclick="backToList()">Back</a>
	                </div>
                  </form>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
    	</div>
    	
    </body>
    
</html>