<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout/admin/mainLayout">
    <head>
    	<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet"></link>
      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <title>Users</title>
        <script th:src="@{'/assets/dist/js/chatUsersList.js'}"></script>
    </head>
    <body>
        
    	<div layout:fragment="content">
	        <div class="row">
            <div class="col-md-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">List of Users For Message</h3>
                  <div class="box-tools">
                    <div class="input-group" style="width: 150px;">
                    	<a class="btn btn-primary" th:href="@{/users/new}"><i class="fa fa-plus-circle"></i>New Group</a>
                    </div>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  <table class="table table-striped table-bordered table-hover">
                    <tr>
                      <th style="width: 10px">#</th>
                      <th></th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Edit</th>
                    </tr>
                    <tr th:each="user,iterStat : ${users}">
                      <td><a th:href="@{/users/{id}(id=${user.id})}"><span th:text="${iterStat.count}">1</span></a></td>
                      <td>
                      	<img alt="" src="image.jpg" th:src="@{'/users/images/{imageUrl}.jpg'(imageUrl=${user.id})}" height="60" width="60"/>
                      </td>
                      <td th:text="${user.userName}">Name</td>
                      <td th:text="${user.email}">Email</td>
                      <td>
                      	  <a id="chatGroup" th:href="@{/chat/users/{id}(id=${user.id})}" class="btn btn-info">
                      	  	<i class="fa fa-wechat"></i> Chat
                      	  </a>
                      </td>
                    </tr>
                  </table>
                </div><!-- /.box-body -->
                
                <div class="row">
			        <div class="form-group col-md-1">
			            <select class="form-control pagination" id="pageSizeSelect" onchange="changePageAndSize()">
			                <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}"
			                        th:selected="${pageSize} == ${selectedPageSize}"></option>
			            </select>
			        </div>
			        <div th:if="${users.totalPages != 1}" class="form-group col-md-11 pagination-centered">
			            <ul class="pagination">
			                <li th:class="${users.number == 0} ? disabled">
			                    <a class="pageLink" th:href="@{/chat/users(pageSize=${selectedPageSize}, page=1, dispatch='changePageAndSize')}">&laquo;</a>
			                </li>
			                <li th:class="${users.number == 0} ? disabled">
			                    <a class="pageLink" th:href="@{/chat/users(pageSize=${selectedPageSize}, page=${users.number}, dispatch='changePageAndSize')}">&larr;</a>
			                </li>
			                <li th:class="${users.number == (page - 1)} ? 'active pointer-disabled'"
			                    th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
			                    <a class="pageLink" th:href="@{/chat/users(pageSize=${selectedPageSize}, page=${page}, dispatch='changePageAndSize')}"
			                       th:text="${page}"></a>
			                </li>
			                <li th:class="${users.number + 1 == users.totalPages} ? disabled">
			                    <a class="pageLink"
			                       th:href="@{/chat/users(pageSize=${selectedPageSize}, page=${users.number + 2}, dispatch='changePageAndSize')}">&rarr;</a>
			                </li>
			                <li th:class="${users.number + 1 == users.totalPages} ? disabled">
			                    <a class="pageLink"
			                       th:href="@{/chat/users(pageSize=${selectedPageSize}, page=${users.totalPages}, dispatch='changePageAndSize')}">&raquo;</a>
			                </li>
			            </ul>
			        </div>
			    </div>
                
              </div><!-- /.box -->
              </div>
              </div>
    	</div>
    </body>
    
</html>