<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout/mainLayout">

<head>
<title>Products</title>
	<script th:src="@{'/assets/dist/js/products.js'}"></script>
</head>
<body>

	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">List of Products</h3>
						<div class="box-tools">
							<div class="input-group" style="width: 150px;">
								<a class="btn btn-sm btn-default" th:href="@{/products/new}"><i
									class="fa fa-plus-circle"></i> New Product</a>
							</div>
						</div>
					</div>
					
					<!-- /.box-header -->
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
							<tr>
								<th style="width: 10px">#</th>
								<th>Name</th>
								<th>Description</th>
								<th>Edit</th>
							</tr>
							<tr th:each="product,iterStat : ${products}">
								<td th:text="${iterStat.count}">1</td>
								<td th:text="${product.name}">Product Name</td>
								<td th:text="${product.description}">Product Description</td>
								<td>
									<a th:href="@{/products/{id}(id=${product.id})}"
										class="btn btn-sm btn-default"><i class="fa fa-edit"></i>
										Edit
									</a>
									
									<a class="btn btn-sm btn-default open-AddBookDialog" 
			                      	  	data-toggle="modal" 
			                      	  	data-target="#deleteModal"
			                      	  	th:onclick="'showDeleteModal(' + ${product.id} + ')'">
			                      	  	<i class="fa fa-trash"></i> Del
		                      	  	</a>
		                      	  	
		                      	  	<a th:href="@{/products/copy/{id}(id=${product.id})}"
										class="btn btn-sm btn-default"><i class="fa fa-copy"></i>
										Copy
									</a>
		                      	  	
								</td>
							</tr>

						</table>
					</div>
					
					<div class="row">
				        <div class="form-group col-md-1">
				            <select class="form-control pagination" id="pageSizeSelect">
				                <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}"
				                        th:selected="${pageSize} == ${selectedPageSize}"></option>
				            </select>
				        </div>
				        <div th:if="${products.totalPages != 1}" class="form-group col-md-11 pagination-centered">
				            <ul class="pagination">
				                <li th:class="${products.number == 0} ? disabled">
				                    <a class="pageLink" th:href="@{/products(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
				                </li>
				                <li th:class="${products.number == 0} ? disabled">
				                    <a class="pageLink" th:href="@{/products(pageSize=${selectedPageSize}, page=${products.number})}">&larr;</a>
				                </li>
				                <li th:class="${products.number == (page - 1)} ? 'active pointer-disabled'"
				                    th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
				                    <a class="pageLink" th:href="@{/products(pageSize=${selectedPageSize}, page=${page})}"
				                       th:text="${page}"></a>
				                </li>
				                <li th:class="${products.number + 1 == products.totalPages} ? disabled">
				                    <a class="pageLink"
				                       th:href="@{/products(pageSize=${selectedPageSize}, page=${products.number + 2})}">&rarr;</a>
				                </li>
				                <li th:class="${products.number + 1 == products.totalPages} ? disabled">
				                    <a class="pageLink"
				                       th:href="@{/products(pageSize=${selectedPageSize}, page=${products.totalPages})}">&raquo;</a>
				                </li>
				            </ul>
				        </div>
				    </div>
				</div>
				
				<div id="deleteModal" class="modal fade" role="dialog">
				  <div class="modal-dialog">
				
				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <h4 class="modal-title" th:text="#{label.confirm.title}"></h4>
				      </div>
				      <div class="modal-body">
				        <p th:text="#{label.confirm.delete.products}"></p>
				      </div>
			    	  <input type="hidden" id="productId"/>
				      <div class="modal-footer">
				     	<a type="button" class="btn btn-danger" 
				     		style="text-decoration: none;  color: #ffffff;" th:text="#{label.confirm.ok}"
		                   	onclick="deleteProduct()">
		                </a>
				        <a type="button" class="btn btn-danger" data-dismiss="modal"
	                		style="color: #ffffff;" th:text="#{label.confirm.cancel}">
		                </a>
				      </div>
				    </div>
				
				  </div>
				</div>
			</div>
		</div>

	</div>

</body>

</html>