<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout/mainLayout">
      
    <head>
        <title>Categories</title>
        <script type="text/javascript">
	        
	        function showDeleteModal(catId) {
	        	$('#catId').val(catId);
	        }
	        
	        function deleteCat() {
	        	 var catId = $('#catId').val();
	        	 var url = '/categories/remove/' + catId;
				 window.location = url;
	        }
	        
	  	</script>
    </head>
    <body>
        
    	<div layout:fragment="content">
	        <div class="row">
            <div class="col-md-12">
              <div class="box"> 
                <div class="box-header">
                  <h3 class="box-title">List of Categories</h3>
                  <div class="box-tools">
                    <div class="input-group" style="width: 150px;">
                    	<a class="btn btn-sm btn-default" th:href="@{/categories/new}"><i class="fa fa-plus-circle"></i> New Category</a>
                    </div>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Edit</th>
                    </tr>
                    <tr th:each="cat,iterStat : ${categories}">
                      <td th:text="${iterStat.count}">1</td>
                      <td th:text="${cat.name}">Category Name</td>
                      <td th:text="${cat.description}">Category Description</td>
                      <td>
                      	<a th:href="@{/categories/{id}(id=${cat.id})}" class="btn btn-sm btn-default">
                      		<i class="fa fa-edit"></i> Edit
                      	</a>
                      	
                      	<a class="btn btn-sm btn-default open-AddBookDialog" 
                      	  	data-toggle="modal" 
                      	  	data-target="#deleteModal"
                      	  	th:onclick="'showDeleteModal(' + ${cat.id} + ')'">
                      	  	<i class="fa fa-trash"></i> Del
                      	  </a>
                      </td>
                    </tr>
                    
                  </table>
                </div><!-- /.box-body -->
                
              </div><!-- /.box -->
              
              <div id="deleteModal" class="modal fade" role="dialog">
				  <div class="modal-dialog">
				
				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <h4 class="modal-title" th:text="#{label.confirm.title}"></h4>
				      </div>
				      <div class="modal-body">
				        <p th:text="#{label.confirm.delete.category}"></p>
				      </div>
			    	  <input type="hidden" id="catId"/>
				      <div class="modal-footer">
				     	<a type="button" class="btn btn-danger" 
				     		style="text-decoration: none;  color: #ffffff;" th:text="#{label.confirm.ok}"
		                   	onclick="deleteCat()">
		                </a>
				        <a type="button" class="btn btn-danger" data-dismiss="modal"
	                		style="color: #ffffff;" th:text="#{label.confirm.cancel}">
		                </a>
				      </div>
				    </div>
				
				  </div>
				</div>
              
              </div>
            </div>
              
    	</div>
    	
    </body>
    
</html>